@import "../abstracts/fonts";
@import "../abstracts/colors";
/*
1. Hero Section
2. About/Summary section
3. Facts section
4. Donate Section
*/
////=================1. Hero Section
#hero-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    padding-top: 3rem;
    width: 100%;
    height: 75vh;
    background-image: url("../../pics/riley-pitzen-QVYvacrDQqM-unsplash.jpg");
    box-shadow: inset 0 0 0 1000px rgba(152, 160, 153, 0.7);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 90% 62%;
}

.hero-heading{
    border-top: 3px solid $light-tan-opac;
    border-bottom: 3px solid $light-tan-opac;
    font-family: $primaryFont;
    z-index: 2;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    color: $gray;
    text-shadow: 1px 1px 3px $gray-shadow;
    margin: 5rem 2rem;
}

.hero-donate-btn {
    z-index: 2;
    border: 12px solid $green;
    border-radius: 20px;
    padding: 1rem 4rem;
    font-size: 2rem;
    color: $green;
    font-weight: 600;
    letter-spacing: 1px;
    background: $light-tan-opac;
}

.hero-donate-btn:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.hero-donate-btn-wrapper {
    display: flex;
    z-index: 1;
    justify-content: center;
}

@media (min-width: 500px) {
    #hero-section {
        padding-top: 6rem;
    }
    .hero-heading{
      font-size: 2.5rem;
      width: 50%;
    }
    .hero-donate-btn {
      padding: 1rem 6rem;
      font-size: 3rem;
      font-weight: 500;
    }
}
@media (min-width: 1000px) {
    .hero-heading{
      font-size: 3rem;
    }
    .hero-donate-btn {
        padding: 1rem 8rem;
        font-size: 4rem;
        font-weight: 500;
    }
}

////=================2. About/Summary section
#about-summary-section{
    background-color: $gray;
    color: white;
}

.about-h1, .about-p {
    width: 70%;
    color: $light-tan;
}
@media (min-width: 768px) {
    .summary-section-h1{
        font-size: 3.5rem;
    }
    .summary-section-p {
        font-size: 1.8rem;
    }
}
////=================3. Facts sectio
#facts-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $dark-tan;
}

.facts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: $secondayFont;
    font-size: 1.5rem;
    font-weight: 600;
    color: $gray;
    width: 90%;
}

@media (min-width: 768px) {
    .facts {
        font-size: 1.8rem;
    }
}

.format-fix-1a{
    display: flex;
    justify-content: center;
}

.format-fix-1b {
    margin-top: .8rem;
}

.emphasis-1 {
    font-size: 4.7rem;
    color: $green;
}

.emphasis-2 {
    font-size: 2.7rem;
    color: $green;
}

.divider {
    display: inline-block;
    width: 80%;
    height: 1px;
    border-top: 2px solid $green;
}
@media (min-width: 1000px) {
    #about-summary-section{
        padding: 4rem;
    }
}
////=================4. Donate Section
#donate-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $dark-tan;
}

.donate-card-wrapper {
    display: flex;
    justify-content: center;
    padding: 1rem;
    width: 15rem;
    background-color: $gray;
    border-radius: 25px;
}

.donate-card-heading{
    display: inline-block;
    width: 90%;
    color: white;
    font-size: 2rem;
    padding: 2rem 0rem ;
}

.fa-hand-holding-heart{
    font-size: 2.5rem;
}

.donate-card-span {
    padding: .5rem;
    font-size: 2rem;
    font-weight: 700;
    font-family: $secondayFont;
}

.donate-card-btn {
    display: inline;
    font-size: 1.3rem;
    border: 8px solid $green;
    border-radius: 20px;
    padding: .3rem 1.7rem;
    margin: 1rem 0rem;
    color: $green;
    font-weight: 600;
    letter-spacing: 1px;
    background: $light-tan;
}

.donate-link {
    color: $green;
}

.donation-article-p{
    font-family: $secondayFont;
    font-weight: 600;
    width: 80%;
    color: #333333;
    padding: 3rem;
}
@media (min-width: 550px) {
    .donate-card-heading{
        font-size: 2rem;
    }

    .fa-hand-holding-heart{
        font-size: 2.8rem;
    }

    .donate-card-wrapper {
        width: 25rem;
    }

    .donation-article-p{
        font-size: 2rem;
     }
}
@media (min-width: 1000px) {
    .donation-article-p{
        width: 80%;
        padding: 5rem;
    }
    .donate-card-wrapper {
        width: 80%;
    }
}
