@import "../abstracts/fonts";
@import "../abstracts/colors";

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 3rem;
    width: 100vw;
    z-index: 5;
    padding: 2rem 0rem;
    background:$dark-tan;
}
.logo-container {
    position: absolute;
    bottom: 1px;
    left: .8rem;
}

#logo{
    display: block;
    width: 12rem;
    font-weight: 700;
    font-family: $primaryFont;
    color: $green;
    text-align: left;
}

nav {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.faBars {
    color: $green;
}

.nav-link {
    padding: .2rem .4rem .2rem 0;
}

.link-text, .link-text:visited {
    font-weight: 700;
    color: $green;
}


//Mobile
.nav-desktop-ul {
    display: none;
}

.hamburger-container {
    display: inline-block;
    top: 2.5rem;
    right: 1rem;
    position: absolute;
}

.nav-mobile-ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: end;
    list-style: none;
    padding: .5rem;
    top: 4.3rem;
    position: relative;
    width: 100%;
    background: $dark-tan;
}

.mobile-menu-container {
    display: block;
    position: relative;
    top: 2rem;
}

//Desktop
@media (min-width: 768px) {
    .hamburger-container,
    .nav-mobile-ul {
        display: none;
     }
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    nav {
        display: flex;
        justify-content: flex-end;
    }
    .spacer {
        border-left: 2.5px solid $green;
    }
    .nav-link {
        padding: 1rem 5rem;
    }

    .logo-container {
        display: flex;
        position: relative;
    }

    .nav-desktop-ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0rem 2rem 0 0;
        font-family: $primaryFont;
        color: $green;
        list-style: none;
        width: 100%;
    }


}
// if else statments for different hover affects
